body {
  background-color: #1996da;
}

.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
  padding: 0 20px;
}

.white-text {
  color: white;
}

.blue-gray-text {
  color: #b3cedc;
}

.text-align-center {
  text-align: center;
}

.font-size-header {
  font-size: 1.3rem;
}

.font-size-paragraph {
  font-size: 0.9rem;
}

.white-circle {
  background-color: white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-size {
  width: 50%;
  height: 50%;
}

.full-width {
  width: 100%;
}

.padding-8 {
  padding-left: 8%;
  padding-right: 8%;
}

.line-height {
  line-height: 1.2rem;
}

.margin-header {
  margin-top: 60px;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 1.3rem;
}
