body {
  background-color: #f7f8fa;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Barlow', sans-serif;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-fourth {
  flex-basis: 25%;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.heading-style {
  font-weight: 800;
  font-size: 28px;
}

.sub-heading-style {
  font-size: 18px;
}

.pg-style {
  font-size: 14px;
}

.text-align-center {
  text-align: center;
}

.screen-style {
  width: 300px;
  height: auto;
}

.icon-style {
  width: 70px;
  height: auto;
}
