.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-fifth {
  flex-basis: 20%;
}

.margin-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.heading-style {
  font-size: 28px;
}

.img-style {
  width: 240px;
  object-fit: cover;
}

.img-container {
  height: 360px;
}

.gray-text {
  color: #d8d8d8;
}

.vertical-rule {
  border-left: solid #d8d8d8 1px;
  padding-left: 5px;
  margin-left: 5px;
}

.sale-price {
  background-color: #fff1e6;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 5px;
}
